body{
	background-color: white;
}


.caja{
	background: cyan;
	padding: 5px;
	width: 80%;
	margin: auto;
}
.caja .izquierda{
	background-color:  #D4C921;
	width: 20%;
	height: 1200px;
	float: left;
}
.caja .centro{
	background-color:  #B6C416;
	width: 60%;
	float: left;
	height: 1200px;

}
.caja .derecha{
	background-color:  #287C03;
	width: 20%;
	float: left;
	height: 1200px;
}
.clear{
	clear: both;
	height: 1200px;
}